[blackfire]
ca-cert={{ php_blackfire_cert }}
collector={{ php_blackfire_collector }}
http-proxy={{ php_blackfire_http_proxy }}
https-proxy={{ php_blackfire_https_proxy }}
log-file={{ php_blackfire_log_file }}
log-level={{ php_blackfire_log_level }}
server-id={{ php_blackfire_server_id }}
server-token={{ php_blackfire_server_token }}
socket={{ php_blackfire_socket }}
spec={{ php_blackfire_spec }}
